	@media only screen and (max-width: 961px) {

			.filter_wrapper.floated	{	margin:auto; float:none;}
			.filter_list_wrapper {
										width:216px;
										float:none;
										clear: both;
										margin-top: 30px;
										}

	}

	@media only screen and (max-width: 420px) {
		.filter	{	float:none; text-align:center;margin-right:0px;line-height:30px;}
	}