.ccard li span.amazon{
	background: url(../Credit_Card_Icons/amazon.png) no-repeat 0 0;
}
.ccard li span.amazon:hover{
	background: url(../Credit_Card_Icons/bw-icons/amazon.png) no-repeat 0 0;
}
.ccard li span.amex_alt{
	background: url(../Credit_Card_Icons/amex_alt.png) no-repeat 0 0;
}
.ccard li span.amex_alt:hover{
	background: url(../Credit_Card_Icons/bw-icons/amex_alt.png) no-repeat 0 0;
}
.ccard li span.amex_gold{
	background: url(../Credit_Card_Icons/amex_gold.png) no-repeat 0 0;
}
.ccard li span.amex_gold:hover{
	background: url(../Credit_Card_Icons/bw-icons/amex_gold.png) no-repeat 0 0;
}
.ccard li span.amex_green{
	background: url(../Credit_Card_Icons/amex_green.png) no-repeat 0 0;
}
.ccard li span.amex_green:hover{
	background: url(../Credit_Card_Icons/bw-icons/amex_green.png) no-repeat 0 0;
}
.ccard li span.amex_silver{
	background: url(../Credit_Card_Icons/amex_silver.png) no-repeat 0 0;
}
.ccard li span.amex_silver:hover{
	background: url(../Credit_Card_Icons/bw-icons/amex_silver.png) no-repeat 0 0;
}
.ccard li span.amex{
	background: url(../Credit_Card_Icons/amex.png) no-repeat 0 0;
}
.ccard li span.amex:hover{
	background: url(../Credit_Card_Icons/bw-icons/amex.png) no-repeat 0 0;
}
.ccard li span.apple{
	background: url(../Credit_Card_Icons/apple.png) no-repeat 0 0;
}
.ccard li span.apple:hover{
	background: url(../Credit_Card_Icons/bw-icons/apple.png) no-repeat 0 0;
}
.ccard li span.bank{
	background: url(../Credit_Card_Icons/bank.png) no-repeat 0 0;
}
.ccard li span.bank:hover{
	background: url(../Credit_Card_Icons/bw-icons/bank.png) no-repeat 0 0;
}
.ccard li span.cash{
	background: url(../Credit_Card_Icons/cash.png) no-repeat 0 0;
}
.ccard li span.cash:hover{
	background: url(../Credit_Card_Icons/bw-icons/cash.png) no-repeat 0 0;
}
.ccard li span.chase{
	background: url(../Credit_Card_Icons/chase.png) no-repeat 0 0;
}
.ccard li span.chase:hover{
	background: url(../Credit_Card_Icons/bw-icons/chase.png) no-repeat 0 0;
}
.ccard li span.coupon{
	background: url(../Credit_Card_Icons/coupon.png) no-repeat 0 0;
}
.ccard li span.coupon:hover{
	background: url(../Credit_Card_Icons/bw-icons/coupon.png) no-repeat 0 0;
}
.ccard li span.credit{
	background: url(../Credit_Card_Icons/credit.png) no-repeat 0 0;
}
.ccard li span.credit:hover{
	background: url(../Credit_Card_Icons/bw-icons/credit.png) no-repeat 0 0;
}
.ccard li span.debit{
	background: url(../Credit_Card_Icons/debit.png) no-repeat 0 0;
}
.ccard li span.debit:hover{
	background: url(../Credit_Card_Icons/bw-icons/debit.png) no-repeat 0 0;
}
.ccard li span.discover_alt{
	background: url(../Credit_Card_Icons/discover_alt.png) no-repeat 0 0;
}
.ccard li span.discover_alt:hover{
	background: url(../Credit_Card_Icons/bw-icons/discover_alt.png) no-repeat 0 0;
}
.ccard li span.discover_novus{
	background: url(../Credit_Card_Icons/discover_novus.png) no-repeat 0 0;
}
.ccard li span.discover_novus:hover{
	background: url(../Credit_Card_Icons/bw-icons/discover_novus.png) no-repeat 0 0;
}
.ccard li span.discover{
	background: url(../Credit_Card_Icons/discover.png) no-repeat 0 0;
}
.ccard li span.discover:hover{
	background: url(../Credit_Card_Icons/bw-icons/discover.png) no-repeat 0 0;
}
.ccard li span.echeck{
	background: url(../Credit_Card_Icons/echeck.png) no-repeat 0 0;
}
.ccard li span.echeck:hover{
	background: url(../Credit_Card_Icons/bw-icons/echeck.png) no-repeat 0 0;
}
.ccard li span.generic_1{
	background: url(../Credit_Card_Icons/generic_1.png) no-repeat 0 0;
}
.ccard li span.generic_1:hover{
	background: url(../Credit_Card_Icons/bw-icons/generic_1.png) no-repeat 0 0;
}
.ccard li span.generic_2{
	background: url(../Credit_Card_Icons/generic_2.png) no-repeat 0 0;
}
.ccard li span.generic_2:hover{
	background: url(../Credit_Card_Icons/bw-icons/generic_2.png) no-repeat 0 0;
}
.ccard li span.generic_3{
	background: url(../Credit_Card_Icons/generic_3.png) no-repeat 0 0;
}
.ccard li span.generic_3:hover{
	background: url(../Credit_Card_Icons/bw-icons/generic_3.png) no-repeat 0 0;
}
.ccard li span.gift_alt{
	background: url(../Credit_Card_Icons/gift_alt.png) no-repeat 0 0;
}
.ccard li span.gift_alt:hover{
	background: url(../Credit_Card_Icons/bw-icons/gift_alt.png) no-repeat 0 0;
}
.ccard li span.gift{
	background: url(../Credit_Card_Icons/gift.png) no-repeat 0 0;
}
.ccard li span.gift:hover{
	background: url(../Credit_Card_Icons/bw-icons/gift.png) no-repeat 0 0;
}
.ccard li span.gold{
	background: url(../Credit_Card_Icons/gold.png) no-repeat 0 0;
}
.ccard li span.gold:hover{
	background: url(../Credit_Card_Icons/bw-icons/gold.png) no-repeat 0 0;
}
.ccard li span.googleckout{
	background: url(../Credit_Card_Icons/googleckout.png) no-repeat 0 0;
}
.ccard li span.googleckout:hover{
	background: url(../Credit_Card_Icons/bw-icons/googleckout.png) no-repeat 0 0;
}
.ccard li span.itunes_2{
	background: url(../Credit_Card_Icons/itunes_2.png) no-repeat 0 0;
}
.ccard li span.itunes_2:hover{
	background: url(../Credit_Card_Icons/bw-icons/itunes_2.png) no-repeat 0 0;
}
.ccard li span.itunes_3{
	background: url(../Credit_Card_Icons/itunes_3.png) no-repeat 0 0;
}
.ccard li span.itunes_3:hover{
	background: url(../Credit_Card_Icons/bw-icons/itunes_3.png) no-repeat 0 0;
}
.ccard li span.itunes{
	background: url(../Credit_Card_Icons/itunes.png) no-repeat 0 0;
}
.ccard li span.itunes:hover{
	background: url(../Credit_Card_Icons/bw-icons/itunes.png) no-repeat 0 0;
}
.ccard li span.mastercard_alt{
	background: url(../Credit_Card_Icons/mastercard_alt.png) no-repeat 0 0;
}
.ccard li span.mastercard_alt:hover{
	background: url(../Credit_Card_Icons/bw-icons/mastercard_alt.png) no-repeat 0 0;
}
.ccard li span.mastercard{
	background: url(../Credit_Card_Icons/mastercard.png) no-repeat 0 0;
}
.ccard li span.mastercard:hover{
	background: url(../Credit_Card_Icons/bw-icons/mastercard.png) no-repeat 0 0;
}
.ccard li span.mileage{
	background: url(../Credit_Card_Icons/mileage.png) no-repeat 0 0;
}
.ccard li span.mileage:hover{
	background: url(../Credit_Card_Icons/bw-icons/mileage.png) no-repeat 0 0;
}
.ccard li span.paypal{
	background: url(../Credit_Card_Icons/paypal.png) no-repeat 0 0;
}
.ccard li span.paypal:hover{
	background: url(../Credit_Card_Icons/bw-icons/paypal.png) no-repeat 0 0;
}
.ccard li span.sapphire{
	background: url(../Credit_Card_Icons/sapphire.png) no-repeat 0 0;
}
.ccard li span.sapphire:hover{
	background: url(../Credit_Card_Icons/bw-icons/sapphire.png) no-repeat 0 0;
}
.ccard li span.solo{
	background: url(../Credit_Card_Icons/solo.png) no-repeat 0 0;
}
.ccard li span.solo:hover{
	background: url(../Credit_Card_Icons/bw-icons/solo.png) no-repeat 0 0;
}
.ccard li span.visa_alt{
	background: url(../Credit_Card_Icons/visa_alt.png) no-repeat 0 0;
}
.ccard li span.visa_alt:hover{
	background: url(../Credit_Card_Icons/bw-icons/visa_alt.png) no-repeat 0 0;
}
.ccard li span.visa{
	background: url(../Credit_Card_Icons/visa.png) no-repeat 0 0;
}
.ccard li span.visa:hover{
	background: url(../Credit_Card_Icons/bw-icons/visa.png) no-repeat 0 0;
}