/*------------------------------------------------------------------
1. #0e5ba4
-------------------------------------------------------------------*/
a {
	color: #0e5ba4;
}
.meta-menu a:hover{
	  color: #0e5ba4;
}
.email-container a:hover{
	color: #0e5ba4;
}
.lpd_breadcrumb a:hover{
	color: #0e5ba4;
}
.single-post-meta a:hover,
.blog-post-meta a:hover{
	color: #0e5ba4;
}
.text-primary {
  color: #0e5ba4;
}
.btn-primary {
  background-color: #0e5ba4;
  border-color: #0e5ba4;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #0e5ba4;
  border-color: #0e5ba4;
}
.btn-primary .badge {
  color: #0e5ba4;
}
.btn-link {
  color: #0e5ba4;
}
.btn-link:hover,
.btn-link:focus {
  color: #0e5ba4;
}
.label-primary {
  background-color: #0e5ba4;
}
.widget.widget_pages ul li a:hover:before,
.widget.widget_nav_menu ul li a:hover:before,
.widget.widget_login ul li a:hover:before,
.widget.widget_meta ul li a:hover:before,
.widget.widget_categories ul li a:hover:before,
.widget.widget_archive ul li a:hover:before,
.widget.widget_recent_comments ul li a:hover:before,
.widget.widget_recent_entries ul li a:hover:before,
.widget.widget_rss ul li a:hover,
.widget.widget_pages ul li a:hover,
.widget.widget_nav_menu ul li a:hover,
.widget.widget_login ul li a:hover,
.widget.widget_meta ul li a:hover,
.widget.widget_categories ul li a:hover,
.widget.widget_archive ul li a:hover,
.widget.widget_recent_comments ul li a:hover,
.widget.widget_recent_entries ul li a:hover{
	color: #0e5ba4;
}
.cbp-l-filters-alignLeft .cbp-filter-item-active,
.tagcloud a:hover,
.tags a:hover{
	border-color: #0e5ba4;
	background-color: #0e5ba4; 
}
.header-middle-search .search-btn{
  background-color: #0e5ba4;
}
.dropcap{
	background-color: #0e5ba4;
}
.wordpress-456repair .wpb_tabs .wpb_tabs_nav li.ui-tabs-active a{
	color: #0e5ba4;
}
.wordpress-456repair .wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav .ui-tabs-active a{
	color: #0e5ba4;
}
.mega-icon-bg{
	background-color: #0e5ba4;
}
.lpd-portfolio-item .title a:hover{
  color: #0e5ba4;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]{
	background-color: #0e5ba4;
}
.lpd-product-thumbnail .loop-shop-btn{
	background-color: #0e5ba4;
}
.lpd-prodcut-accordion .panel-title a{
	color: #0e5ba4;
}
.pn-btn a:hover{
	color: #0e5ba4;
}
.wordpress-456repair.woocommerce-page div.product form.cart .group_table td.label a:hover{
	color: #0e5ba4;
}
.wordpress-456repair .woocommerce .widget_layered_nav_filters ul li a,
.wordpress-456repair.woocommerce-page .widget_layered_nav_filters ul li a,
.wordpress-456repair .woocommerce .widget_layered_nav ul li.chosen a,
.wordpress-456repair.woocommerce-page .widget_layered_nav ul li.chosen a{
	background-color: #0e5ba4;
}
.woocommerce .widget_layered_nav ul li a:hover,
.woocommerce-page .widget_layered_nav ul li a:hover{
	color: #0e5ba4;	
}
.wordpress-456repair .widget_product_categories ul li a:hover{
	color: #0e5ba4;		
}
.wordpress-456repair .woocommerce ul.cart_list li a:hover,
.wordpress-456repair .woocommerce ul.product_list_widget li a:hover,
.wordpress-456repair.woocommerce-page ul.cart_list li a:hover,
.wordpress-456repair.woocommerce-page ul.product_list_widget li a:hover{
	color: #0e5ba4;	
}
.wordpress-456repair div.product div.images a#cloud-link:hover{
	color: #0e5ba4;	
}
.lpd-cart-list-title a:hover{
	color: #0e5ba4;	
}
.cbp-popup-singlePage .cbp-popup-navigation-wrap{
	background-color: #0e5ba4;
}
.cbp-item-wrapper:hover .cbp-l-grid-team-name{
	color: #0e5ba4;	
}
.cbp-item-wrapper:hover .cbp-l-grid-projects-title a{
	color: #0e5ba4;		
}
.ws-dropdown{
	border-color: #0e5ba4;
}
.ws-dropdown:before{
	border-bottom-color: #0e5ba4;
}
.ws-dropdown ul li a:hover{
	color: #0e5ba4;	
}
.wpml-switcher-mobile .flag a:hover{
	color: #0e5ba4;
}
.booking_cont:before{
	background-color: #0e5ba4; 
}

.team-widget-social-details li:before{
	background-color: #0e5ba4; 
}

.team-widget-content .title a:hover{
	color: #0e5ba4;	
}
#footer .footer-meta:before{
  background-color: #0e5ba4;
}
.wordpress-456repair .cbp-l-filters-list .cbp-filter-item-active,
.wordpress-456repair .cbp-l-filters-dropdownWrap{
  background-color: #0e5ba4;
}
.wordpress-456repair .cbp-l-filters-list .cbp-filter-item{
	border-color: #0e5ba4; 
}
.lpd-shopping-cart-style-2 .cart-icon .count{
	border-color: #0e5ba4;
	background-color: #0770b5;
}
.header-top.header-meta-dark-bg{
	background-color: #0e5ba4;
}
.header-top.triangle-element:before{
	background-color: #0e5ba4;
}
.meta_colored_icons.picons_social .icon{
	border-color: #0e5ba4;
}
/*------------------------------------------------------------------
2. #0770b5
-------------------------------------------------------------------*/
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
	background-color: #0770b5;
	border-color: #0770b5;
}
/*------------------------------------------------------------------
3. #fdb813
-------------------------------------------------------------------*/
.team-widget-social-details li:hover:before{
	background-color: #fdb813;
}
.team-widget-item .member-position span,
.team-widget-item .member-position span.wrap:after,
.team-widget-item .member-position span.wrap:before{
	background-color: #fdb813;	
}
.lpd-portfolio-item.widget_style_3 .mega-icon-border{
	background-color: #fdb813;
}
.dark-bg .cbp-item-wrapper:hover .cbp-l-grid-team-name{
	color: #fdb813;
}
.footer.dark-theme a{
	color: #fdb813;
}
.menu3dmega > ul li > a:before{
	background-color: #fdb813;
}
.footer.dark-theme .widget.widget_rss ul li a:hover,
.footer.dark-theme .widget.widget_pages ul li a:hover,
.footer.dark-theme .widget.widget_nav_menu ul li a:hover,
.footer.dark-theme .widget.widget_login ul li a:hover,
.footer.dark-theme .widget.widget_meta ul li a:hover,
.footer.dark-theme .widget.widget_categories ul li a:hover,
.footer.dark-theme .widget.widget_archive ul li a:hover,
.footer.dark-theme .widget.widget_recent_comments ul li a:hover,
.footer.dark-theme .widget.widget_recent_entries ul li a:hover{
	color: #fdb813;
}
.footer.dark-theme .widget.widget_pages ul li a:hover:before,
.footer.dark-theme .widget.widget_nav_menu ul li a:hover:before,
.footer.dark-theme .widget.widget_login ul li a:hover:before,
.footer.dark-theme .widget.widget_meta ul li a:hover:before,
.footer.dark-theme .widget.widget_categories ul li a:hover:before,
.footer.dark-theme .widget.widget_archive ul li a:hover:before,
.footer.dark-theme .widget.widget_recent_comments ul li a:hover:before,
.footer.dark-theme .widget.widget_recent_entries ul li a:hover:before,
.footer.dark-theme .widget.widget_rss ul li a:hover,
.footer.dark-theme .widget.widget_pages ul li a:hover,
.footer.dark-theme .footer.dark-theme .widget.widget_nav_menu ul li a:hover,
.footer.dark-theme .widget.widget_login ul li a:hover,
.footer.dark-theme .widget.widget_meta ul li a:hover,
.footer.dark-theme .widget.widget_categories ul li a:hover,
.footer.dark-theme .widget.widget_archive ul li a:hover,
.footer.dark-theme .widget.widget_recent_comments ul li a:hover,
.footer.dark-theme .widget.widget_recent_entries ul li a:hover{
	color: #fdb813;
}
.footer.dark-theme .tagcloud a:hover,
.footer.dark-theme .tags a:hover{
	border-color: #fdb813;;
	background-color: #fdb813; 
}
.btn-warning {
	background-color: #fdb813;
	border-color: #fdb813;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #fdb813;
	border-color: #fdb813;
}
.dropcap1{
	background-color: #fdb813;
}
.mm1_content:hover .btn{
	background-color: #fdb813;
	border-color: #fdb813;
}
.lpd-portfolio-item:hover .mega-icon-bg{
	background-color: #fdb813;
}
.owl-theme .owl-controls .owl-nav [class*=owl-]:hover{
	background-color: #fdb813;
}
.wordpress-456repair .woocommerce .star-rating,
.wordpress-456repair.woocommerce-page .star-rating{
	color: #fdb813;
}
.lpd-onsale{
	background-color: #fdb813;
}
.wordpress-456repair .woocommerce p.stars a,
.wordpress-456repair.woocommerce-page p.stars a{
	color: #fdb813;
}
.cart-dropdown{
	border-color: #fdb813; 
}
.cart-dropdown:before{
	border-bottom-color: #fdb813; 
}
/*------------------------------------------------------------------
4. #ffc221
-------------------------------------------------------------------*/
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
	background-color: #ffc221;
	border-color: #ffc221;
}